<a href="https://colab.research.google.com/github/UKD1211/DataScience_Slogbook_ISI_placement_prep/blob/main/array_interview_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Find the Kth Largest/smallest item from a list
def largest(l:list,k:int):
    return sorted(l,reverse =True)[k-1]
largest([14,2,5,6,7,1],3)

6

In [3]:
def largest(l:list,k:int):
    return sorted(l)[-k]
largest([14,2,5,6,7,1],3)

6

In [5]:
def smallest(l:list,k:int):
  return sorted(l)[k-1]
smallest([14,2,5,6,7,1],1)

1

In [10]:
#Input the integers 12, 112, 100, 44, 1987, 1000 and print the maximum and the serial number of its occurrence.
import numpy as np
x = np.array([12,112,100,44,1987,1000])
print(np.max(x))
print(np.argmax(x)+1)

1987
5

In [14]:
def serial(l:list):
  ind_l = []
  for i in range(1,len(l)+1):
    ind_l.append(i)
  d = dict(zip(ind_l,l))
  for i in d:
    if d[i] == max(l):
      return (i,d[i])
serial([12,112,100,44,1987,1000])

(5, 1987)