<a href="https://colab.research.google.com/github/UKD1211/DataScience_Slogbook_ISI_placement_prep/blob/main/python_tuple_sets_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

In [8]:
# Creating tuple

t1=()

#single item
t2 = (2,)
print(t2)    #this is only diff from List
type(t2)

#homo
t3 = (2,3,4,5)
t3

#hetro
t4 = (2,True)
t4

#2D
t5 = (1,2,4,(2,3))
t5

#using type conversion
t6 = tuple('hello')
t6

(2,)

('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [9]:
t6

('h', 'e', 'l', 'l', 'o')

In [10]:
t6[0]

'h'

In [11]:
t6[-1]

'o'

In [12]:
print(t6[0:2])

('h', 'e')

In [13]:
print(t6[::-1])

('o', 'l', 'l', 'e', 'h')

In [14]:
print(t6[-3:-1])

('l', 'l')

In [2]:
t = (1,2,4,5,6,7,7)
print(t)

(1, 2, 4, 5, 6, 7, 7)

In [3]:
t[0] = 33  #immutable not like list

TypeError: 'tuple' object does not support item assignment

In [5]:
print(t) #addition is not possible here

(1, 2, 4, 5, 6, 7, 7)

In [8]:
del t
t   #it will fully delete the tuple

NameError: name 't' is not defined

NameError: name 't' is not defined

### Operations on Tuples

In [9]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

### Tuple Functions

In [11]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [12]:
# count

t = (1,2,3,4,5)

t.count(50)

0

In [13]:
# index
t.index(50)

ValueError: tuple.index(x): x not in tuple

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [14]:
#tuples are fater than list as this are immutable > mutable

#tuple takes least space than list

#list is more error prone here as mutable

#any application which are read only - tuple(where no changes are needed or did)
#where an application user making many changes  - todo - there we can use the List

In [1]:
import time

L = list(range(10000000))
T = tuple(range(10000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 0.9605956077575684
Tuple time 0.7966115474700928

In [2]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040



### Special Syntax

In [3]:
#tuple unpacking

a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [4]:
a,b = (1,2,4)

ValueError: too many values to unpack (expected 2)

In [6]:
#swap

a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [7]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [10]:
#zipping tuples
a = (1,2,3,4)
b = (2,4,5,3)

list(zip(a,b))

[(1, 2), (2, 4), (3, 5), (4, 3)]

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

In [11]:
#set is mutable by own by we can not contain the mutable datatypes in itself

### Creating Sets

In [24]:
#empty
s = {}
print(type(s))

s = set() #type conversion
print(type(s))

#1D
s1 = {1,2,4}
print(s1)

#2D = not possible here
# s2 = {1,2,4,{2,4}}
# print{s2}

#hetro
s3 = {1,2,5,True,(1,2,44)}
print(s3)

s4 = set([1,2,4,5,3])
print(s4)

# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)
# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

<class 'dict'>
<class 'set'>
{1, 2, 4}
{1, 2, 5, (1, 2, 44)}
{1, 2, 3, 4, 5}
{1, 2, 3}

TypeError: unhashable type: 'list'

In [26]:
s1 = {1,2,3}
s2 = {3,2,1}     #so here the order doesnot matter
print(s1 == s2)

True

In [27]:
#Accesing Items  does not works here

s1 = {1,2,4,5,6}

#here indexing never works , slicing never works here as its unordered

In [28]:
s1 = {1,2,4,5,6}

In [29]:
# editing also doesnot allowed here

# Adding Items