<a href="https://colab.research.google.com/github/UKD1211/DataScience_Slogbook_ISI_placement_prep/blob/main/session_6_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def list_new(L):
  a = set(L)
  b = list(a)
  return b

In [ ]:
list_new([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
def seq(string):
  a = string.split('-')
  b = sorted(a)
  return '-'.join(b)

seq('green-red-yellow-black-white')

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
def count_up_low(string):
  count_up = 0
  count_low = 0                 #not Correct code here
  for i in string:
    if i.upper() == i:
      count_up += 1
    else:
      count_low += 1
  return f'No of Upper cases: {count_up}' , f'No of Lower Cases: {count_low}'


count_up_low('CampusX is an Online Mentorship Program fOr EnginEering studentS.')

('No of Upper cases: 18', 'No of Lower Cases: 47')

In [ ]:
# string  = "CampusX is an Online Mentorship Program fOr EnginEering studentS."

def count_upper_lower(string):
  L = []
  for i in string:
    if i == " " or i == ".":
      continue
    else:
      L.append(i)

  count_up = 0
  count_low = 0
  for j in L:
    if j.upper() == j:                   #this might be the worst approach here
      count_up += 1
    else:
      count_low += 1

  return f'No of Upper cases: {count_up}' , f'No of Lower Cases: {count_low}'


count_upper_lower('CampusX is an Online Mentorship Program fOr EnginEering studentS.')

('No of Upper cases: 9', 'No of Lower Cases: 47')

In [ ]:
def count_up_low(string):
    count_up = 0
    count_low = 0
    for i in string:
        if i.isupper():
            count_up += 1
        elif i.islower():
            count_low += 1
    return f'No of Upper cases: {count_up}', f'No of Lower Cases: {count_low}'

print(count_up_low('CampusX is an Online Mentorship Program fOr EnginEering studentS.'))

('No of Upper cases: 9', 'No of Lower Cases: 47')

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [3]:
L = [1,2,3,4,5,6,7,8,9]
a = list(filter(lambda x:x%2==0,L))
a

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [8]:
# Write code here

def perfect(num):
  L =[]
  for i in range(1,num):
    if num%i == 0:
      L.append(i)
  sum = 0
  for j in L:
    sum = sum+j
  count = num
  for j in L:
    count = count+j

  if sum == num and count/2 == num:
    return f'{num} is a perfect number'
  else:
    return f'{num} is not a perfect number'


perfect(8128)

'8128 is a perfect number'

In [10]:
def perfect(num):
  L =[]
  for i in range(1,num):
    if num%i == 0:
      L.append(i)
  if sum(L) == num:
    return 'perfect no'
  else:
    return 'not a perfect no'

perfect(90)

'not a perfect no'

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [17]:
def concat_dict(*dicts):  # Accept variable number of dictionaries
    L = []
    for i in dicts:       # i is each dictionary
        for j in i:       # j is each key
            L.append((j, i[j]))  # Append key-value tuple
    d = dict(L)
    return d

# Example call
print(concat_dict({1:10, 2:20}, {3:30, 4:40}, {5:50, 6:60}))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [27]:
def count_str(string):
  L = string.split()
  count_L = []
  for i in L:
    count_L.append(L.count(i))

  max_index = count_L.index(max(count_L))
  return L[max_index], count_L[max_index]


count_str('hello how are you i am fine thank you you you you')

('you', 5)

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
# Write code here

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# Write code here

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
# Write code here

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
# Write code here

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here

`Problem-14`: Use reduce to convert a 2D list to 1D

In [ ]:
# Write code here

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [30]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [31]:
# by normal code here

L =[]
for i in employees:
  if i['grade'] == 'highly-skilled':

    L.append(i['fname']+' '+i['lname'])

print(L)

['Neha Singh', 'Abhinav Sharma']

In [34]:
list(map(lambda x:x['fname']+' '+x['lname'] if x['grade'] =='highly-skilled' else "",employees))

['', '', 'Neha Singh', '', 'Abhinav Sharma']

In [35]:
list(map(lambda x: x['fname'] + ' ' + x['lname'], filter(lambda x: x['grade'] == 'highly-skilled', employees)))

['Neha Singh', 'Abhinav Sharma']