<a href="https://colab.research.google.com/github/UKD1211/DataScience_Slogbook_ISI_placement_prep/blob/main/Task_13_NumPy_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Note: In Data Science googling is a very important skill. If you find some difficulties to solve the problem, google it and try to find some clues to solve.**

In [ ]:
import numpy as np

###`Q-1` Create a null vector of size 10 but the fifth value which is 1.

In [ ]:
a = np.zeros((1,10), dtype = int) #2d
a[:,[4]]  = 1
a

array([[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]])

In [ ]:
a = np.zeros(10, dtype = int) #1d
a[4] = 1
a

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

###`Q-2` Ask user to input two numbers a, b. Write a program to generate a random array of shape (a, b) and print the array and avg of the array.

In [ ]:
import numpy as np
def shaped(a,b):
  return np.random.random((a,b))*100
print(shaped(2,2))

[[56.99846696 65.76326069]
 [29.81765021 31.67972245]]

In [ ]:
import numpy as np
a,b = int(input("give 1 numbers")), int(input("give 2 numbers"))
x = np.random.random((a,b))
print(x)
print(np.mean(x))

give 1 numbers2
give 2 numbers2
[[0.9623195  0.47402666]
 [0.74624406 0.6729996 ]]
0.7138974559757876

###`Q-3`Write a function to create a 2d array with 1 on the border and 0 inside. Take 2-D array shape as (a,b) as parameter to function.

Eg.-
```
[[1,1,1,1],
[1,0,0,1],
[1,0,0,1],
[1,1,1,1]]
```

In [ ]:
def twoD(a,b):
  return np.ones((a,b), dtype = int)
twoD(4,4)

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [ ]:
def towD(a,b):
  x = np.ones((a,b), dtype = int)
  x[a-(a-1):(a-1), b-(b-1):(b-1)] = 0
  return x
towD(4,4)

array([[1, 1, 1, 1],
       [1, 0, 0, 1],
       [1, 0, 0, 1],
       [1, 1, 1, 1]])

In [ ]:
def towD(a,b):
  x = np.ones((a,b), dtype = int)
  x[1:-1, 1:-1] = 0
  return x
towD(4,4)

array([[1, 1, 1, 1],
       [1, 0, 0, 1],
       [1, 0, 0, 1],
       [1, 1, 1, 1]])

###`Q-4` Create a vector of size 10 with values ranging from 0 to 1, both excluded.

In [ ]:
a = np.linspace(0,1,12)
b = a[1:-1]
b

array([0.09090909, 0.18181818, 0.27272727, 0.36363636, 0.45454545,
       0.54545455, 0.63636364, 0.72727273, 0.81818182, 0.90909091])

###`Q-5` Can you create a identity mattrix of shape (3,4). If yes write code for it.

In [ ]:
np.identity(3 , dtype = int)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [ ]:
#  by np.eye we can make it as it will take the 1 at the principle diagonals
np.eye(3,4 ,dtype = int)

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0]])

###`Q-6:` Create a 5x5 matrix with row values ranging from 0 to 4.

In [8]:
import numpy as np
a = np.linspace(0,4,25,dtype = int)
a.reshape(5,5)

array([[0, 0, 0, 0, 0],
       [0, 1, 1, 1, 1],
       [1, 1, 2, 2, 2],
       [2, 2, 2, 3, 3],
       [3, 3, 3, 3, 4]])

In [12]:
a = np.arange(0,5)
np.vstack([a]*5)

array([[0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4]])

###`Q-7:`  Consider a random integer (in range 1 to 100) vector with shape `(10,2)` representing coordinates, and coordinates of a point as array is given. Create an array of distance of each point in the random vectros from the given point. Distance array should be interger type.

```
point = np.array([2,3])
```

In [21]:
a = np.random.randint(1,100,20)
x = a.reshape(10,2)
x

array([[85, 76],
       [45, 48],
       [44, 16],
       [98, 50],
       [ 5,  7],
       [16, 20],
       [18, 11],
       [50, 32],
       [17, 63],
       [ 6,  9]])

In [27]:
def disArray(l:list):
  L=[]
  for i in x:
    L.append(((i[0]-l[0])**2 + (i[1] - l[1])**2)**0.5)
  return np.array(L ,dtype=int)
disArray([2,3])

array([110,  62,  43, 106,   5,  22,  17,  56,  61,   7])

###`Q-8:` Consider a (6,7,8) shape array, what is the index (x,y,z) of the 100th element?

In [28]:
56*6

336

In [32]:
a = np.arange(0,336).reshape(6,7,8)
a[1,[5],[4]]

array([100])

In [33]:
import numpy as np

a = np.arange(336).reshape(6,7,8)

# Convert flat index -> 3D index
index = np.unravel_index(100, a.shape)
print(index)       # (1, 5, 4)

# Verify
print(a[index])    # 100

(np.int64(1), np.int64(5), np.int64(4))
100

### `Q-9:` Arrays

You are given a space separated list of numbers. Your task is to print a reversed NumPy array with the element type float.

**Input Format:**

A single line of input containing space separated numbers.

**Output Format:**

Print the reverse NumPy array with type float.

**Example 1:**

Input:

```bash
1 2 3 4 -8 -10
```

Output:

```bash
[-10.  -8.   4.   3.   2.   1.]
```

In [38]:
strings = "1 2 3 4 -8 -10"

def rev(strings:str):
  new_l = []
  lol_l = []
  l = strings.split()                #useless way
  for i in l:
    new_l.append(int(i))

  for i in range(1,len(new_l)+1):
    lol_l.append(new_l[-i])
  return " ".join(map(str,lol_l))
rev(strings)

'-10 -8 4 3 2 1'

In [42]:
strings = "1 2 3 4 -8 -10"

import numpy as np
arr = np.array(strings.split() ,float)
print(arr[::-1])

[-10.  -8.   4.   3.   2.   1.]

### `Q-10:` Elements count

Count the number of elements of a numpy array.

**Example 1:**

Input:
```bash
np.array([])
```

Output:
```bash
elements_count :  0
```

**Example 2:**

Input:
```bash
np.array([1, 2])
```

Output:
```bash
elements_count :  2
```

In [51]:
a = np.array([1,2,3,4,1,1,3,1,1,2,1,1,5])
a
count = 0
for i in a:
  count += 1
print(count)

13

In [52]:
def count(arr:list):
  count = 0
  for i in arr:
    count += 1
  return count
count([1,2,3,4,1,1,3,1,1,2,1,1,5])

13

In [57]:
a.size

13

### `Q-11:` Softmax function

Create a Python function to calculate the Softmax of the given numpy 1D array. The function only accepts the numpy 1D array, otherwise raise error.

$$\Large \sigma(\vec z)_i = \frac{e^{z_i}}{\sum_{j=i}^{K}{e^{z_j}}}$$

https://en.wikipedia.org/wiki/Softmax_function

**Example 1:**

Input:
```bash
[86.03331084 37.7285648  48.64908087 87.16563062 38.40852563 37.20006318]
```

Output:
```bash
[2.43733249e-01, 2.56112115e-22, 1.41628284e-17, 7.56266751e-01,
       5.05514197e-22, 1.50974911e-22]
```

**Example 2:**

Input:
```bash
[33.17344305 45.61961654 82.05405781 80.9647098  68.82830233 91.52064278]
```

Output:
```bash
[4.57181035e-26, 1.16249923e-20, 7.73872596e-05, 2.60358426e-05,
       1.39571531e-10, 9.99896577e-01]
```

In [ ]:
#Code here

### `Q-12:` Vertical stack

Write a python function that accepts infinite number of numpy arrays and do the vertical stack to them. Then return that new array as result. The function only accepts the numpy array, otherwise raise error.

**Example 1:**

Input:
```bash
a= [[0 1 2 3 4]
 [5 6 7 8 9]]

b= [[1 1 1 1 1]
 [1 1 1 1 1]]
```

Output:

```bash
[[0 1 2 3 4]
 [5 6 7 8 9]
 [1 1 1 1 1]
 [1 1 1 1 1]]
```

**Example 2:**

Input:
```bash
a= [[0 1 2 3 4]
 [5 6 7 8 9]]

b= [[1 1 1 1 1]
 [1 1 1 1 1]]

c= [[0.10117373 0.1677244  0.73764059 0.83166097 0.48985695]
 [0.44581567 0.13502419 0.55692335 0.16479622 0.61193593]]
```

Output:
```bash
[[0.         1.         2.         3.         4.        ]
 [5.         6.         7.         8.         9.        ]
 [1.         1.         1.         1.         1.        ]
 [1.         1.         1.         1.         1.        ]
 [0.10117373 0.1677244  0.73764059 0.83166097 0.48985695]
 [0.44581567 0.13502419 0.55692335 0.16479622 0.61193593]]
```

In [59]:
import numpy as np

def vstacking(*args):
    return np.vstack(args)

result = vstacking(
    [[0, 1, 2, 3, 4],
     [5, 6, 7, 8, 9]],
    [[1, 1, 1, 1, 1],
     [1, 1, 1, 1, 1]]
)

print(result)

[[0 1 2 3 4]
 [5 6 7 8 9]
 [1 1 1 1 1]
 [1 1 1 1 1]]

### `Q-13:` Dates

Create a python function named **date_array** that accepts two dates as string format and returns a numpy array of dates between those 2 dates. The function only accept 2 strings, otherwise raise error. The date format should be like this only: `2022-12-6`. The end date should be included and for simplicity, choose dates from a same year.

**Example 1:**

Input:
```bash
date_array(start = '2020-09-15', end = '2020-09-25')
```

Output:
```bash
['2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18',
 '2020-09-19', '2020-09-20', '2020-09-21', '2020-09-22',
 '2020-09-23', '2020-09-24', '2020-09-25']
```

**Example 2:**

Input:
```bash
date_array(start = '2022-12-01', end = '2022-12-06')
```

Output:
```bash
['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04', '2022-12-05', '2022-12-06']
```

**Example 3:**

Input:
```bash
date_array(start = '2020-11-25', end = '2020-11-30')
```

Output:
```bash
['2020-11-25', '2020-11-26', '2020-11-27', '2020-11-28',
 '2020-11-29', '2020-11-30']
```

In [ ]:
#Code here

###`Q-14:` Subtract the mean of each row from a matrix.

In [ ]:
#code here

###`Q-15:` Swap column-1 of array with column-2 in the array.

In [ ]:
#Code here

###`Q-16:` Replace odd elements in arrays with -1.

In [ ]:
#Code here

###`Q-17:` Given two arrays of same shape make an array of max out of two arrays. (Numpy way)
```
a=np.array([6,3,1,5,8])
b=np.array([3,2,1,7,2])

Result-> [6 3 1 7 8]
```

In [ ]:
#Code here

###`Q-18` Answer below asked questions on given array:
1. Fetch Every alternate column of the array
2. Normalise the given array

https://en.wikipedia.org/wiki/Normalization_(statistics)

There are different form of normalisation for this question use below formula.

$$\large X_{normalized} = \frac{X - X_{min}}{X_{max} - X_{min}}$$

```python
arr1=np.random.randint(low=1, high=10000, size=40).reshape(8,5)
```

In [ ]:
# Given
arr1=np.random.randint(low=1, high=10000, size=40).reshape(8,5)
arr1

array([[2939, 1694, 6680, 8865, 2684],
       [4066, 4573,  327, 6525,  851],
       [5997, 7481, 2315, 5863, 9615],
       [7821, 1225, 9138, 1114, 4885],
       [7715, 8046, 9105, 3935, 3182],
       [8842, 4836, 2705, 3751, 3800],
       [4132, 1400, 7844, 9471, 7526],
       [2749, 2624, 6900, 1576, 7515]])

In [ ]:
#Code here

###`Q-19:` Write a function which will accept 2 arguments.
First: A 1D numpy array arr

Second: An integer n {Please make sure n<=len(arr)}

Output: The output should be the nth largest item out of the array
```
# Example1 : arr=(12,34,40,7,1,0) and n=3, the output should be 12
# Example2 : arr=(12,34,40,7,1,0) and n=1, the output should be 40
```

In [76]:
def largest(L:list,n):
  if n > len(L):
    return "give a proper n in the range of list"
  new_l = sorted(L, reverse = True)
  return new_l[n-1]
largest([12,34,40,7,1,0],1)

40

In [79]:
import numpy as np
def largest(a:np.ndarray,n):
  x = np.sort(a)
  return x[-n]

largest(np.array([12,34,40,7,1,0]),1)

np.int64(40)

###`Q-20:` Create the following pattern without hardcoding. Use only numpy functions and the below input array a.
```
# Input: a = np.array([1,2,3])
# Output: array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])
```

In [71]:
a = np.array([1,2,3])
x = np.hstack([a]*3)
y = np.array([1,1,1,2,2,2,3,3,3])
np.concatenate([y,x])

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

In [72]:
a = np.array([1,2,3])
x = np.repeat(a,3)
y = np.tile(a,3)
np.concat([x,y])

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

![image.png]()