<a href="https://colab.research.google.com/github/UKD1211/DataScience_Slogbook_ISI_placement_prep/blob/main/Operators%2BIf_Else%2BLoops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [ ]:
#Arithmatic operators

In [ ]:
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2) #integer divison

print(5%2)  #modulus

print(5**2) #power of

11
-1
30
2.5
2
1
25

In [ ]:
#Relational Operators

In [ ]:
print(4>6)

False

In [ ]:
print(4<7)

True

In [ ]:
print(4<=4)

True

In [ ]:
print(4==4)

True

In [ ]:
#Logical Operators

In [ ]:
print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [ ]:
#Bitwise Operator

In [ ]:
#bitwise and = &
print(2 & 3)    # 2 = 010 , 3 = 011 now 2&3 = 010 = 2

#bitwise or = |
print(2 | 3)    #same here 2|3 = 011 = 3

#bitwise xor = ^
print(2 ^ 3)    #2^3 = 001 = 1

print(~4)

print(4 >> 2)

print(4<<2)

2
3
1
-5
1
16

In [ ]:
#assignment operators

In [ ]:
# =
a = 2

#a = a+2
a += 2
a

4

In [ ]:
# here a++ or ++a not used

In [ ]:
# Membership Operator

In [ ]:
#in/not in

print('D' in "Delhi")

True

In [ ]:
print('D' not in "Delhi")

False

In [ ]:
print( 1 in [2,3,4,5])

False

In [ ]:
# Program - Find the sum of 3 digit number entered by the user

In [ ]:
num = int(input("enter a 3 digit no:"))
#345%10 -> 5
a= num%10
num = num//10

#34%10 -> 4
b = num%10
num = num//10

#3%10 -> 3
c = num%10

sum = (a+b+c)
print(sum)

enter a 3 digit no:344
11

# **If-else in python**

In [ ]:
# login program and indentation
# email = ukd1211@gmail.com
#password = 1234

In [ ]:
input_email = input("enter email")
input_password = input("enter password")

if input_email == "ukd1211@gmail.com" and input_password == "1234":
  print("welcome bro")
else:
  print("Fuck off")

enter emailuttamdutta1211@gmail.com
enter password33453
Fuck off

In [ ]:
input_email = input("enter email")
input_password = input("enter password")

if input_email == "ukd1211@gmail.com" and input_password == "1234":
  print("welcome bro")
elif input_email == "ukd1211@gmail.com" and input_password != "1234":
  print("Password wrong")
  new_password = input("enter the password again")
  if new_password == "1234":
    print("finally correct")
  else:
    print("still wrong")
else:
  print("Fuck off")

enter emailukd1211@gmail.com
enter password2333
Password wrong
enter the password again1234
finally correct

In [ ]:
#min no print in 3 nos

a = int(input("enter the 1st no"))
b = int(input("enter the 2nd no"))
c = int(input("enter the 3rd no"))

if a<b and a<c:
  print("smallest is ",a)
elif b<c:
  print("the smallest is",b)
else:
  print("smallest is ",c)

enter the 1st no3
enter the 2nd no3
enter the 3rd no3
smallest is  3

In [ ]:
#menu driven calculator

num_1st = int(input("Enter the first number: "))
num_2nd = int(input("Enter the second number: "))

op = input("Enter the operation ")

if op == '+':
  print(num_1st+num_2nd)
elif op == '-':
  print(num_1st-num_2nd)
elif op == '*':
  print(num_1st*num_2nd)
elif op == "/":
  print(num_1st/num_2nd)
else:
  print("u have not typed the correcr op")

Enter the first number: 22
Enter the second number: 33
Enter the operation -
-11

# Modules in Python

- math
- keywords
- random
- datetime

In [ ]:
#math

import math

In [ ]:
math.factorial(5)

120

In [ ]:
#keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#random
import random
print(random.randint(1,100))

36

In [ ]:
#datetime
import datetime
now = datetime.datetime.now()
print(now)
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)

2025-07-18 16:18:11.841206
2025
7
18
16
18
11

In [ ]:
help('math')

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

# Loops in Python

- Need for loops
- While Loop
- For Loop

In [ ]:
#while loop - print a table

In [ ]:
a = int(input("enter the number"))

i = 1
while i<11:
  print(a,'*',i,'=',a*i)
  i += 1

enter the number88
88 * 1 = 88
88 * 2 = 176
88 * 3 = 264
88 * 4 = 352
88 * 5 = 440
88 * 6 = 528
88 * 7 = 616
88 * 8 = 704
88 * 9 = 792
88 * 10 = 880

In [ ]:
# While with else

In [ ]:
x = 1

while x<3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

In [ ]:
#geuessing game

num_guess = 100

num_given = int(input("guess a no:"))          #Wrong Approach

while num_given < num_guess:
  print("please upper the number")
  num_given = int(input("again enter the number here"))
  if num_given == num_guess:
    print("you have made a correct guess")
  elif num_given > num_guess:
    while num_given > num_guess:
      print("Please lower the no")
      num_given = int(input("type the no here again"))
  else :
    print("you are wrong here")

guess a no:44
please upper the number
again enter the number here78
you are wrong here
please upper the number
again enter the number here22
you are wrong here
please upper the number
again enter the number here90
you are wrong here
please upper the number
again enter the number here101
Please lower the no
type the no here again90
please upper the number
again enter the number here98
you are wrong here
please upper the number
again enter the number here7
you are wrong here
please upper the number
again enter the number here109
Please lower the no
type the no here again103
Please lower the no
type the no here again102
Please lower the no
type the no here again101
Please lower the no
type the no here again100

In [ ]:
num_guess = 100

count = 0

while True:
    num_given = int(input("Guess a number: "))
    count += 1

    if num_given < num_guess:
        print("Please increase the number.")
    elif num_given > num_guess:
        print("Please lower the number.")
    else:
        print("You have made a correct guess!")
        print(f"You have made {count} guesses.")
        if count < 5:
          print("you are the winner ")
        else :
          print("you are looser cant count under 5 attempts")
        break

Guess a number: 22
Please increase the number.
Guess a number: 22
Please increase the number.
Guess a number: 12
Please increase the number.
Guess a number: 19
Please increase the number.
Guess a number: 40
Please increase the number.
Guess a number: 500
Please lower the number.
Guess a number: 100
You have made a correct guess!
You have made 7 guesses.
you are looser cant count anything

In [ ]:
# new game on generating random no

import random
jackpot = random.randint(1,100)
jackpot

37

In [ ]:
import random
jackpot = random.randint(1,100)

guess = int(input("guess karo"))
count = 1

while guess != jackpot:
 if guess<jackpot:
  print("guess higher")
 else:
  print("guess lower")

  guess = int(input("guess karo"))
  count += 1

else:
  print("correct guess")
  print("attempts",count)

guess karo67
guess lower
guess karo44
correct guess
attempts 2

In [ ]:
# For Loop

for i in range(1,11,2):     #(1,11,2):last one is step size
  print(i)

1
3
5
7
9

In [ ]:
for i in 'Delhi':
  print(i)

D
e
l
h
i

In [ ]:
a = 10000
i = 0
s = a
while i<10:
  s = s+s*(10/100)
  i += 1
  print(f"{i}th year the population was:",int(s))

1th year the population was: 11000
2th year the population was: 12100
3th year the population was: 13310
4th year the population was: 14641
5th year the population was: 16105
6th year the population was: 17715
7th year the population was: 19487
8th year the population was: 21435
9th year the population was: 23579
10th year the population was: 25937

In [ ]:
a = 10000

for i in range(10,0,-1):
  print(i,a)
  a = a - 0.1*a

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [12]:
import math

n = int(input("enter nth term for the seq"))

s = 0

for i in range(1,n+1):
  s = s+(i/math.factorial(i))
  # print(f"{i}th term the sum is {s:.5f}")
print(f"the sum upto {n}th term",s)

enter nth term for the seq19
the sum upto 19th term 2.7182818284590455

# Nested Loops

In [13]:
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*** <br>
**** <br>
***<br>

In [6]:
n = int(input("please give me the row nos"))

for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end='')
  print()  #this is for the line change here

please give me the row nos3
*
**
***

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [13]:
n = int(input("enter no of rows u want"))

for i in range(1,n+1):
  for j in range(0,2*i):
    print(j+1,end='')
  print()

enter no of rows u want5
12
1234
123456
12345678
12345678910

In [15]:
n = int(input("enter no of rows u want"))

for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end='')

  for k in range(i-1,0,-1):
    print(k,end="")
  print()

enter no of rows u want6
1
121
12321
1234321
123454321
12345654321

In [17]:
#Break

for i in range(1,10):
  if i==5:
    break
  print(i)


  # linear searching in Db is a practical scenario of break

1
2
3
4

In [20]:
lower = int(input('lower range'))
upper = int(input('upper range'))

for i in range(lower,upper+1):
  for j in range(2,i):      #wrong approach
    if i%j == 0:
      print(i)

lower range20
upper range30
20
20
20
20
21
21
22
22
24
24
24
24
24
24
25
26
26
27
27
28
28
28
28
30
30
30
30
30
30

In [22]:
lower = int(input('lower range'))
upper = int(input('upper range'))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break                # right approach
  else:
      print(i)

lower range10
upper range20
11
13
17
19

In [23]:
#Continue

for i in range(1,10):
  if i==5:                #if we want to skip a product
    continue
  print(i)

1
2
3
4
6
7
8
9

In [24]:
for i in range(1,10):    #if we have no idea what to write then write the pass here
  pass